.slider-container {
    width: 750px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 100px;

    p{
       text-align: center
    }
}
.particles-wrapper{
    position: relative;
}
.slider-wrapper{
    position: absolute;
}
.particle-block {
    height: 250px;
}